@import "cols.css";

* {
  font-family: "Maple Mono NF",serif;
  font-size: 12px;
}

window#waybar {
  background-color:@surface;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
}
#window{
  background-color: @surface;
	color: @red;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @text;

}

#workspaces button.focused {
  background-color: @lavender;
	color:black;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
  padding: 0 10px;
}

#pulseaudio {
  color: @red;
  /* color: #b0252c; */
}

#network {
  color: @yellow;
  /* color: #8a6125; */
}

#temperature {
  color: @sky;
}

#battery {
  color: @magenta;
  /* color: #6a2a9c;  */

}

#clock {
  /* color: @surface; */
  color: @text;
  /* color : #6a5a75; */
}

#window {
  color: @magenta;
}

.modules-right,
.modules-left,
.modules-center {
  background-color: rgba(0, 0, 0,0);
  border-radius: 4px;
}

.modules-right {
}

.modules-left {
}

.modules-center {
}

#battery.charging,
#battery.plugged {
  /* color: @green-light; */
  color: #486b5b;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  /* color:@red; */
  color:#b0252c;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: @text;
}

#mpris.paused{
  color:@magenta-light;

  /* color:@surface-light; */
}

#custom-music,#mpris.playing{
  color:@green-light;
  /* color:#486b5b; */
}

@keyframes music{
	0%{background-color:@blue-light;}
	100%{background-color:@blue;}
}
@keyframes music{
	0%{background-color:@blue-light;}
	100%{background-color:@blue;}
}
