window{
	font-size:1rem;
	font-family:monospace;
  background-color:rgba(239,202,229,0.3);
  padding:0.5rem 0.75rem;   
	animation:popup 1s ease-in;
}
#entry{
	padding:0.5rem 0.4rem;
}
#entry:selected{
	 color:black;
	outline:none;
	border:none;
   background-color:rgba(192,219,223,0.4);
}
#text{
	color:white;
}
#text:selected{
	color:black;
	font-size:1.25rem;
}
#input{
  padding:0.5rem;
	color:white;
	background-color:rgba(239,202,239,0.3);
	border:none;
	outline:none;
	border-radius:0px;
	font-size:1.2rem;
}
#input:focused{
	border:none;
	outline:none;
}

